ion-content {
  --ion-background-color: #6689e6;
}

ion-title {
  text-align: center;
}

ion-card {
  background: white;
  --color: #000;
  border-radius: 15px;
  margin: 30px;
}

ion-item {
  color: #000;
  --background: white;
  --border-style: none;
  left: 0;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-button {
  font-size: 20px;
  width: 70%;
}

ion-img {
  height: 150px;
  width: auto;
  text-align: center;
}

.font-size {
  font-size: 20px;
}

h4 {
  text-align: center;
  color: white;
}

.btn {
  text-align: center;
}

#pass {
  --background: #fdbc77;
  --color: black;
}

#notpass {
  --background: #fa5757;
  --color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (min-width: 700px) and (max-width: 1700px) {
  ion-button {
    font-size: 30px;
    --background-activated: #ff9b31;
    width: 50%;
  }
  h4 {
    font-size: 30px;
    margin-left: 21px;
    margin-right: 25px;
  }
  p {
    font-size: 25px;
  }
  #pass {
    --background: #fdbc77;
    --color: black;
  }

  #notpass {
    --background: #fa5757;
    --background-activated: rgb(252, 33, 33);
    --color: black;
  }
}
