<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>{{yearage}} ปี {{monthage}} เดือน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="RateFullData">
  <h4>{{RateFullData.rateTitle}} ({{RateFullData.rateType}})</h4>
  <ng-container *ngIf="RateFullData.rateData">
    <ion-card>
      <ion-card-content>
        <p >อุปกรณ์ : {{RateFullData.rateData.equipment}}</p>
        <div *ngIf="RateFullData.rateAssets">
          <ion-img class="center" src="{{RateFullData.rateAssets}}"></ion-img>
        </div>
        
        <br>
        <p>วิธีประเมิน </p>
        <p>{{RateFullData.rateData.howToRate}}</p>
        <br>
        <p>ผ่าน : </p>
        <p >{{RateFullData.rateData.rule}}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
  

  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="btn">
          <ion-button shape="round" id="pass" (click)="RateChild(true)">
            ผ่าน
          </ion-button>
        </ion-col>

        <ion-col class="btn">
          <ion-button shape="round" id="notpass" (click)="RateChild(false)">
            ไม่ผ่าน
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-container>
</ion-content>