ion-content {
  --ion-background-color: #6689e6;
}

ion-title {
  text-align: center;
}
p {
  margin: 0px;
}
.cardresult {
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.iconmargin {
  margin-left: -25%;
}
.titlemargin {
  margin-right: -30%;
}
.icon-pass {
  height: 15px;
  color: rgb(255, 206, 115);
}
.icon-notpass {
  height: 15px;
  color: rgb(255, 115, 115);
}
.status {
  margin-left: -30%;
}

#btn {
  --background: #fdbc77;
  --background-activated: #ff9b31;
  --color: black;
}
#butt {
  margin-top: -10px;
  --background: var(--ion-background-color);
  --background-activated: var(--ion-background-color);
  --box-shadow: var(--ion-background-color) 0px 0px 0px;
}

ion-button {
  font-size: 20px;
}

.center {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .cardresult {
    color: white;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }
  ion-button {
    font-size: 30px;
  }
  .icon-pass {
    height: 20px;
    color: rgb(255, 206, 115);
  }
  .icon-notpass {
    height: 20px;
    color: rgb(255, 115, 115);
  }
}
