<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/menu']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="font">
      <h4>พัฒนาการด้านการเคลื่อนไหว (GM)</h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="font">
  <ion-grid>
    <!-- <div *ngFor=""> -->
      <ion-row class="center">
        <ion-button id="result" shape="round" class="textInButton">
          กระโดดเชือกได้ (GM)</ion-button>
      </ion-row>
    <!-- </div> -->
  </ion-grid>
</ion-content>