<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">ไม่ผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ng-container *ngIf="RateFullData">
    <ng-container *ngIf="RateFullData.resultAfterRate">

      <p>{{RateFullData.resultAfterRate.resultNotPass}}</p>

  <p *ngIf="RateFullData.resultAfterRate.replaceEquipment">วัสดุที่ใช้แทนได้ : {{RateFullData.resultAfterRate.replaceEquipment}}</p>

  <p *ngIf="RateFullData.resultAfterRate.objective">วัตถุประสงค์ :{{RateFullData.resultAfterRate.objective}}</p>

  <div class="center">
    <p id="text">
      ไม่เป็นไรนะคะ อย่าลืมฝึกทักษะบ่อยๆ<br>แล้วอีก 1 เดือน ประเมินกันใหม่ค่ะ
    </p>

    <ion-button shape="round" class="textInButton" (click)="onClickNavigateResult()">
      สรุปพัฒนาการ
    </ion-button>
  </div>
</ng-container>
</ng-container>
</ion-content>