<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">ไม่ผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ng-container *ngIf="RateResultData">

    <ion-slides>

      <ion-slide *ngFor="let item of RateResultData">
        <div class="slide">

          <p>{{item.resultAfterRate.resultNotPass}}</p>

          <p *ngIf="item.resultAfterRate.replaceEquipment">วัสดุที่ใช้แทนได้ :
            {{item.resultAfterRate.replaceEquipment}}</p>

          <p *ngIf="item.resultAfterRate.objective">วัตถุประสงค์ : {{item.resultAfterRate.objective}}
          </p>

          <div class="center">
            <p id="text">
              ไม่เป็นไรนะคะ อย่าลืมฝึกทักษะบ่อยๆ<br>แล้วอีก 1 เดือน ประเมินกันใหม่ค่ะ
            </p>
          </div>

        </div>
      </ion-slide>

    </ion-slides>


  </ng-container>
</ion-content>