<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">ไม่ผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  
  <p class="font" style="margin-top: 10px;">
    วิธีฝึกทักษะ <br>
    1. กระโดดอยู่กับที่ ให้เด็กดู <br>
    2. จับมือเด็กไว้ทั้ง 2 ข้าง แล้วฝึกกระโดดมาจากบันไดขั้นที่ติดกับพื้นหรือจากพื้นต่างระดับ <br>
    3. กระโดดข้ามเชือกให้เด็กดู <br>
    4. ยืนหันหน้าเข้าหาเด็กโดยวางเชือกคั่นกลาง และจับมือเด็กพยุงไว้ดึงมือให้เด็กกระโดดข้ามเชือก ฝึกบ่อย ๆ จนเด็กมั่นใจและสามารถกระโดดข้ามเชือกได้เอง <br>
    5. พ่อแม่ ผู้ปกครองหรือผู้ดูแลเด็ก ควรระมัดระวังไม่ให้เด็กมีอันตรายในระหว่างการกระโดด <br>
    
  </p>
  <p class="font" style="margin-top: 2px;">
    วัสดุที่ใช้แทนได้ : ริบบิ้น เชือกฟาง ไม้หรือชอล์ก ขีดเส้นตรงบนพื้น
  </p>

    <p class="font" style="font-size: 15px; margin-bottom: 100px; color: #000;">
      <center>ไม่เป็นไรนะคะ อย่าลืมฝึกทักษะบ่อยๆ<br>แล้วอีก 1 เดือน ประเมินกันใหม่ค่ะ</center>
    </p>

    <center>
    <ion-button shape="round" style="padding-bottom: 50px;">
      <div class="textInButton">สรุปพัฒนาการ</div>
    </ion-button>
  </center>

</ion-content>
