#data {
    margin-top: 10px;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  #text {
    font-size: 20px;
    margin-bottom: 120px;
    color: #000;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .font {
    font-size: 15px;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .title {
    text-align: center;
    padding-right: 65px;
  }
  
  ion-content {
    --ion-background-color: #6689e6;
    --ion-text-color: #ffff;
  }
  ion-button {
    font-size: 20px;
    width: 150px;
    height: auto;
    white-space: normal;
    --background: #fdbc77;
    --background-activated: #ff9b31;
    --color: #000;
  }
  
  .textInButton {
    width: auto;
    height: 35px;
  }
  
  .center {
    text-align: center;
  }
  
  .datapadding {
    padding-top: 30px;
  }
  
  @media screen and (min-width: 700px) {
    #data {
      font-size: 25px;
      margin-top: 10px;
      padding: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    #text {
      font-size: 40px;
      margin-bottom: 120px;
      color: #000;
      padding: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    .textInButton {
      font-size: 30px;
      width: auto;
      height: 70px;
    }
  
    .datapadding {
      padding-top: 50px;
    }
  }
  