<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">การประเมินพัฒนาการ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <p class="font" style="margin-top: 10px;">
    <center><b>ความหมายของการประเมินพัฒนาการ</b></center>
  </p>
  <p class="font">การประเมินพัฒนาการหมายถึงกระบวนการศึกษาข้อมูลคุณลักษณะหรือ
    ความสามารถในด้านต่างๆของเด็กในแต่ละช่วงวัยโดยใช้เครื่องมือและวิธี
    ที่เหมาะสมในการเก็บรวบรวมข้อมูลและสรุปผลเปรียบเทียบกับเกณฑ์ปกติ
    ของพัฒนาการเด็กตามวัย</p>

</ion-content>