<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>ข้อมูลเด็ก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <ion-button id="avatar" class="center"> -->
      <ion-avatar  class="center">
        <img src="{{childProfiledata.childProfileImg}}">
      </ion-avatar>
    <!-- </ion-button> -->
    <ion-card>
      <ion-card-content>
        <div class="margincard">
          <ion-item>
            <h2>ชื่อ </h2>
            <h2 slot="end">{{childProfiledata.childName}}</h2>
          </ion-item>
  
          <ion-item>
            <h2>อายุ </h2>
            <h2 slot="end">{{yearage}} ปี {{monthage}}เดือน</h2>
          </ion-item>
        </div>
  
        <div class="btn">
          <div>
            <ion-col class="btn">
              <ion-button shape="round" id="btn" (click)="onClickNavigate()">
                ประเมินพัฒนาการ
              </ion-button>
            </ion-col>
          </div>
          <div>
            <ion-col class="btn">
              <ion-button shape="round" id="btn">
                สรุปพัฒนาการ
              </ion-button>
            </ion-col>
          </div>
        </div>
  
      </ion-card-content>
    </ion-card>
</ion-content>