<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">ผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="datapadding">
    <p id="data">
      - พัฒนาการสมวัย <br>
      - ส่งเสริมพัฒนาการถัดไป <br>
      - ประเมินอีกครั้งในช่วงอายุ 31 – 36 เดือน (2 ปี 7 เดือน - 3 ปี)
    </p>
  </div>

  <div class="center">
    <p id="text">
      ไชโย! ผ่านประเมินค่ะ
    </p>

    <ion-button shape="round" class="textInButton">สรุปพัฒนาการ</ion-button>
  </div>
</ion-content>