<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">ผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-content>
    <ng-container *ngIf="RateResultData">
      <div class="datapadding">
        <p>{{RateResultData[0].resultAfterRate.resultPass}}</p>
      </div>

      <div class="center">
        <p id="text">
          ไชโย! ผ่านประเมินค่ะ
        </p>
      </div>
    </ng-container>
  </ion-content>