<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">ผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  
  <p class="font" style="margin-top: 10px;">
    - พัฒนาการสมวัย <br>
    - ส่งเสริมพัฒนาการถัดไป <br>
    - ประเมินอีกครั้งในช่วงอายุ 31 – 36 เดือน (2 ปี 7 เดือน - 3 ปี)
  </p>

    <p class="font" style="font-size: 25px; margin-bottom: 120px; color: #000;">
      <center>ไชโย! ผ่านประเมินค่ะ</center>
    </p>

    <center>
    <ion-button shape="round" style="padding-bottom: 50px;">
      <div class="textInButton">สรุปพัฒนาการ</div>
    </ion-button>
  </center>

</ion-content>
