.font {
    font-family: Kanit;
    font-size: 15px; 
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title{
    font-family: Kanit;
    text-align: center;
    margin: center;
}

.icon-adj {
    font-size: 25px;
    color: #000;
}
.btn-adj {
    background-color: #FCF7F1;
}

ion-content{
    --ion-background-color: #6689e6;
    --ion-text-color: #FFFF;
}

ion-toolbar{
    --ion-background-color: #FCF7F1;
    --ion-text-color: #000;
}

ion-item-sliding{
    --ion-font-family: Kanit;
}

