.font {
  font-size: 15px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title {
  text-align: center;
  margin: center;
}

.icon-adj {
  font-size: 25px;
  // color: #fff;
}
.btn-adj {
  // background-color: #6689e6;
  border-radius: 50px 50px 50px 20px;
}

ion-content {
  --ion-background-color: #6689e6;
  --ion-text-color: #ffff;
}

ion-item-sliding {
  --ion-background-color: #6689e6;
  --ion-text-color: #ffff;
}

@media screen and (min-width: 700px) {
  ion-item {
    font-size: 30px;
  }
  ion-item-option {
    font-size: 30px;
  }
  .icon-adj {
    font-size: 30px;
  }
}
