#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  // top: 50%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container a {
  text-decoration: none;
}

.pretitle {
  margin-top: 30px;
}

.card-home {
  background: #6689e6;
  width: auto;
  height: 400px;
  margin: 0px;
  border-radius: 0% 0% 50% 50%;
}
ion-card-title {
  font-size: 30px;
  color: white;
}
#text {
  font-size: 30px;
  margin-top: -10px;
  margin-bottom: 25px;
}

ion-button {
  --background: #6689e6;
  --box-shadow:#6689e6 0px 0px 0px ;
}
.matgintop {
  margin-top: 15px;
}

.lottie {
  width: auto;
  height: 275px;
}

@media screen and (min-width: 700px){

  .lottie {
    width: auto;
    height: 300px;
  }
  .card-home {
    background: #6689e6;
    width: auto;
    height: 500px;
    margin: 0px;
    border-radius: 0% 0% 50% 50%;
  }

  ion-card-title {
    font-size: 50px;
  }

  p {
    font-size: 30px;
  }
  #text {
    font-size: 50px;
    margin-top: -10px;
    margin-bottom: 25px;
  }
  ion-button {
    font-size: 30px;
  }
}
