<ion-header>
  <ion-toolbar>
    <ion-title class="font"><h4><center>x ปี xx เดือน</center></h4></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="font">
  <center>
  <ion-button shape="round" style="margin-top: 30px;"><div class="textInButton">พัฒนาการด้านการเคลื่อนไหว (GM)</div></ion-button>
  <br>
  <ion-button shape="round"><div class="textInButton">พัฒนาการด้านกล้ามเนื้อมัดเล็กและสติปัญญา (FM)</div></ion-button>
  <br>
  <ion-button shape="round"><div class="textInButton">พัฒนาการด้านการเข้าใจภาษา (RL)</div></ion-button>
  <br>
  <ion-button shape="round"><div class="textInButton">พัฒนาการด้านการใช้ภาษา (EL)</div></ion-button>
  <br>
  <ion-button shape="round"><div class="textInButton">พัฒนาการด้านการช่วยเหลือตนเองและสังคม (PS)</div></ion-button>
  <br>
  <ion-button shape="round" color="warning"><div class="textInButton">สรุปพัฒนาการ</div></ion-button>
  </center>
</ion-content>
