.font {
  font-size: 15px;
}

ion-title {
  text-align: center;
}
ion-button {
  font-size: 14px;
  width: 230px;
  margin-top: 30px;
  height: 40px;
  white-space: normal;
  --background: #fcf7f1;
  --color: #000;
}

ion-content {
  --ion-background-color: #6689e6;
  --ion-text-color: #ffff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.textInButton {
  margin-top: 30px;
}

#head {
  margin-top: 60px;
}

#result {
  --background: #fdbc77;
  --background-activated: #ff9b31;
}

@media screen and (min-width: 700px) {
  ion-button {
    font-size: 20px;
    width: 60%;
    height: 70px;
    --background-activated: #ff9b31;
    white-space: normal;
    --background: #fcf7f1;
    --color: #000;
  }

  #result {
    --background: #fdbc77;
    --background-activated: #ff9b31;
  }
}
