
.font {
    font-family: Kanit;
    font-size: 15px; 
}

ion-button {
    font-family: Kanit;
    font-size: 14px;
    width: 230px;
    height: auto;
    margin: 10px 0px 10px 0px;
    white-space: normal;
    --background: #FCF7F1;
    --color: #000;
} 

.textInButton{
    padding-top: 10px;
    padding-bottom: 10px;
}


ion-content{
    font-family: Kanit;
    --ion-background-color: #6689e6;
    --ion-text-color: #FFFF;
    
}

ion-toolbar{
    --ion-background-color: #FCF7F1;
    --ion-text-color: #000;
}
